:root{
	--darkBlue: #211C6A;
	--clay: #59B4C3;
	--green: #74E291;
	--yellow: #EFF396;
}


html{
	background-color: var(--yellow);
	height: 100%;
}

body{
	width: 500px;
	margin:auto;
	display: grid;
	grid-template-rows: 60% 38%; 
	height: 100%;
	padding: 5px;
	padding-top: 40px;
}


h1, p {
	color: var(--darkBlue)
}

h1{
	text-align: center;
}

p{
	margin-top: 50px;
	max-height: 150px;
	overflow: hidden;
}

form{
	display: flex;
	justify-content: space-between;
}

#pf{
	/*the trick is to make display: block and margin: auto*/
	display: block; 
	width: 150px;
	height: 150px;
	object-fit: cover;
	margin: auto;
	margin-top: 50px;
	box-shadow: 0px 0px 40px #fff;
}

.answer-btn{
	border: none;
	cursor: pointer;
	margin-top: 50px;
	width: 49%;
	height: 60%;
	transition: .3s;
}

#yes{
	background-color: var(--green);
}

#no{
	background-color: var(--clay);
}

#yes:hover{
	background-color: #9bdead;
}

#no:hover{
	background-color: #70c0cc;
}


.answer-btn:hover{
	box-shadow: 0px 0px 20px #fff;
}

.correct-answer{
	text-align: center;
	background-color: var(--green);
	padding: 10px 0px;
	font-weight: 900;
}

.wrong-answer{
	text-align: center;
	background-color: var(--darkBlue);
	color: red;
	padding: 10px 0px;
	font-weight: 900;
}


#load-bar{
	width: 0%;
	background-color: var(--green);
	height: 30px;
}
