<!DOCTYPE html5>
{% load static %}
<html lang='en'>
	<head>
		<title>Trivia</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{% static 'css/survey.css' %}" rel="stylesheet" />
	</head>
	<body>
		<p style="display: None" id="response">{{response}}</p>
		<p style="display: None" id="mode">{{mode}}</p>
		<div>
			<form action="{% url 'trivia:main_view' %}">
				<button>Exit</button>
			</form>
			<div>
				<div id="load-bar"></div>
			</div>
			<h1><b id="counter">8</b> Seg</h1>
			<h1>Welcome to Trivia!</h1>
			<img src="{% static 'img/jake.jpg' %}" id="pf" />
			<p id="question"></p>
			<p id="correction"></p>
		</div>

		<form id='survey_form' action="#">
			<button class="answer-btn" id="yes" value='yes'>Yes</button>
			<button class="answer-btn" id="no" value='no'>No</button>
		</form>
		<audio id="correct-sound">
			<source src="{% static 'audio/Correct Answer.mp3' %}"  />
		</audio>
		<audio id="wrong-sound">
			<source src="{% static 'audio/Wrong answer.wav' %}"  />
		</audio>
		<script src="{% static 'js/survey.js'%}"></script>
	</body>
</html>

